[build-system]
# all dependencies below (except for scikit) are just to enable the tool detection in netedit
requires = [ "scikit-build-core>=0.10",
    "lxml",
    "pandas",
    "matplotlib"
]
build-backend = "scikit_build_core.build"

[project]
name = "eclipse-sumo"
version = "0.0.0"
authors = [{name = "DLR and contributors", email = "sumo@dlr.de"}]
license = "EPL-2.0 OR GPL-2.0-or-later"
description = "A microscopic, multi-modal traffic simulation package"
readme = "README.md"
keywords = ["traffic", "simulation", "traci"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: C++",
    "Programming Language :: Python",
]

[project.urls]
Homepage = "https://sumo.dlr.de/"
Documentation = "https://sumo.dlr.de/docs"
Repository = "https://github.com/eclipse-sumo/sumo"
Issues = "https://github.com/eclipse-sumo/sumo/issues"
Changelog = "https://sumo.dlr.de/docs/ChangeLog"
Download = "https://sumo.dlr.de/download"

[project.scripts]
spam-cli = "spam:main_cli"
activitygen = "sumo:activitygen"
dfrouter = "sumo:dfrouter"
duarouter = "sumo:duarouter"
emissionsDrivingCycle = "sumo:emissionsDrivingCycle"
emissionsMap = "sumo:emissionsMap"
jtrrouter = "sumo:jtrrouter"
marouter = "sumo:marouter"
netconvert = "sumo:netconvert"
netgenerate = "sumo:netgenerate"
od2trips = "sumo:od2trips"
polyconvert = "sumo:polyconvert"
sumo = "sumo:sumo"

[project.gui-scripts]
netedit = "sumo:netedit"
sumo-gui = "sumo:sumo_gui"

[tool.scikit-build]
build-dir = "_skbuild"
wheel.packages = ["tools/build_config/sumo"]
wheel.install-dir = "sumo"
wheel.py-api = "py3"

[tool.cibuildwheel.macos]
before-all = ["brew update", "brew bundle --file=build_config/Brewfile --no-upgrade"]

# On an Linux Intel runner with qemu installed, build Intel and ARM wheels
[tool.cibuildwheel.linux]
archs = ["auto", "aarch64"]
manylinux-x86_64-image = "manylinux2014"
manylinux-aarch64-image = "manylinux2014"
before-all = ["yum-config-manager --add-repo=https://download.opensuse.org/repositories/science:/dlr/CentOS_7/",
              "yum install -y --nogpgcheck ccache libxerces-c-devel proj-devel fox16-devel bzip2-devel gl2ps-devel swig3 eigen3-devel"]
