# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
# (none yet)

# Declare files that will always have LF line endings on checkout.
*.h    text eol=lf filter=keywords
*.cpp  text eol=lf filter=keywords
*.py   text eol=lf filter=keywords
*.pyw  text eol=lf filter=keywords
*.pl   text eol=lf filter=keywords
*.java text eol=lf filter=keywords
*.cs   text eol=lf filter=keywords

*.xml  text eol=lf
*.prog text eol=lf
*.csv  text eol=lf
*.txt  text eol=lf
*.tcl  text eol=lf

*.complex     text eol=lf
*.dfrouter    text eol=lf
*.duarouter   text eol=lf
*.jtrrouter   text eol=lf
*.marouter    text eol=lf
*.astar       text eol=lf
*.chrouter    text eol=lf
*.ballistic   text eol=lf
*.netconvert  text eol=lf
*.netedit     text eol=lf
*.netgen      text eol=lf
*.od2trips    text eol=lf
*.polyconvert text eol=lf
*.sumo        text eol=lf
*.meso        text eol=lf
*.tools       text eol=lf
*.traci       text eol=lf
*.activitygen text eol=lf
*.sumocfg     text eol=lf
*.netccfg     text eol=lf
*.netgcfg     text eol=lf
*.big         text eol=lf
visum.net     text eol=lf
# .scenario .tapasVEU only used in internal repo

# Declare files that will always have CRLF line endings on checkout.
*.bat     text eol=crlf

# Denote all files that are truly binary and should not be modified.
png.complex binary
png.sumo binary
png2.sumo binary
*.ico binary
*.png binary
*.jpg binary
*.ttf binary

# files to ignore on export / archive / dist building
/.appveyor.yml export-ignore
/.gitattributes export-ignore
/.git_filters export-ignore
/.github export-ignore
/.gitignore export-ignore
/.gitmodules export-ignore
/.travis.yml export-ignore
/tests export-ignore
