# root dir, mostly release / doc building stuff
/sumo-*.tar.gz
/sumo-*.zip
/diff.*
/compile
/latex
/mirror
/share
# IDE project files
/.settings
/.cproject
/.project
/.pydevproject
/.vs
# build dir 
/clang*
/cmake-build*
/cmake_build*
/build/cmake-build*
/build/cmake_build*
/build/cmake-codeblocks*
/build/cmake-clang*
/build/cmake-mingw*
/out
# bin dir
/bin/TraCITestClient*
/bin/activitygen*
/bin/dfrouter*
/bin/duarouter*
/bin/emissionsDrivingCycle*
/bin/emissionsMap*
/bin/jtrrouter*
/bin/marouter*
/bin/netconvert*
/bin/netedit*
/bin/netgenerate*
/bin/od2trips*
/bin/polyconvert*
/bin/sumo*
/bin/sumo-gui*
/bin/testcommon*
/bin/testfoxtools*
/bin/testgeom*
/bin/testmicrosim*
/bin/testnetbuild*
/bin/testlibsumo*
/bin/testlibtraci*
/bin/testthreadpool*
/bin/*.dll
/bin/*.dylib
/bin/*.so
/bin/*.pyd
/bin/*.manifest
/bin/osgPlugins*
/bin/libsumoc*
/bin/liblibsumojni.jnilib
/bin/liblibtracijni.jnilib
/bin/libsumofmi2.dylib
# data dir
/data/proj
# docs dir, make artifacts
/docs/doxygen
/docs/examples
/docs/javadoc
/docs/lcov
/docs/man
/docs/pydoc
/docs/tutorial
/docs/userdoc
/docs/web/site/
/docs/web/__pycache__/
/docs/web/*.pyc
# src dir, mostly configure / make stuff
/src/config.h
/src/config.h.in
/src/stamp-h1
/src/version.h
/src/tags
/src/cscope.out
/src/activitygen/activitygen
/src/dfrouter/dfrouter
/src/duarouter/duarouter
/src/jtrrouter/jtrrouter
/src/marouter/marouter
/src/netconvert
/src/netedit/netedit
/src/netgen/netgenerate
/src/netimport/typemap.h
/src/od2trips
/src/polyconvert/pc_typemap.h
/src/polyconvert/polyconvert
/src/sumo
/src/sumo-gui
/src/tools/emissionsDrivingCycle
/src/tools/emissionsMap
/src/traci_testclient/TraCITestClient
# tools dir
/tools/*.egg-info
/tools/[0-9]*
/tools/game/*.netstate.xml
/tools/game/*.tlsstate.xml
/tools/game/netstate.xml
/tools/game/tlsstate.xml
/tools/game/*.tripinfos.xml
/tools/game/racing/log
/tools/game/racing/tripinfos.xml
/tools/game/A10KW/*
/tools/game/scores.pkl
/tools/contributed/lisum/lisum-core/target/
/tools/contributed/lisum/lisum-gui/target/
/tools/contributed/traas/dist
/tools/contributed/traas/javadoc
/tools/contributed/traas/release
/tools/contributed/traas/target
/tools/libsumo/_libsumo.*
/tools/libsumo/libsumo.py
/tools/libtraci/_libtraci.*
/tools/libtraci/libtraci.py
# extracted tests
/tests/_*
# netedit test
/tests/netedit/filter_files
# global patterns
Makefile
Makefile.in
*.vcxproj.user
*.class
lib*.a
.deps
**/.DS_Store
.libs
*.o
__pycache__
*.pyc
*.sdf
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.obj
*.log
*.tlog
*.lastbuildstate
*.exe
*.jar
*.ilk
*.pdb
*.props
*.exp
*.lib
*.res
*.ipch
.vscode
*.aps
.gdb_history
.env
