# global patterns
*.vcxproj.user
*.class
lib*.a
.deps
.DS_Store
.libs
*.o
__pycache__
*.pyc
*.sdf
*.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.obj
*.log
*.tlog
*.lastbuildstate
*.exe
*.jar
*.ilk
*.pdb
*.props
*.exp
*.lib
*.res
*.ipch
.vscode
*.aps
.gdb_history
.env

# root dir, mostly release / doc building stuff
/sumo*.tar.gz
/sumo-*.zip
/diff.*
/compile
/latex
/mirror
/share
/dist
/_skbuild
/wheelhouse
/pyproject.toml
# IDE project files
/.settings
/.cproject
/.project
/.pydevproject
/.pylintrc
/.vs
/.vim
# build dir
/build
/build_clang
/cmclang
/cmvs
/out
# bin dir
/bin/TraCITestClient*
/bin/activitygen*
/bin/dfrouter*
/bin/duarouter*
/bin/emissionsDrivingCycle*
/bin/emissionsMap*
/bin/jtrrouter*
/bin/marouter*
/bin/netconvert*
/bin/netedit*
/bin/netgenerate*
/bin/od2trips*
/bin/polyconvert*
/bin/sumo*
/bin/sumo-gui*
/bin/testcommon*
/bin/testfoxtools*
/bin/testgeom*
/bin/testmicrosim*
/bin/testnetbuild*
/bin/testlibsumo*
/bin/testlibtraci*
/bin/testthreadpool*
/bin/*.dll
/bin/*.dylib
/bin/*.so
/bin/*.pyd
/bin/*.manifest
/bin/osgPlugins*
/bin/libsumoc*
/bin/libtracic*
/bin/liblibsumojni.jnilib
/bin/liblibtracijni.jnilib
/bin/libsumofmi2.dylib
# data dir
/data/locale
/data/templates
/data/po/*.pot
/data/proj
# docs dir, make artifacts
/docs/doxygen
/docs/examples
/docs/javadoc
/docs/lcov
/docs/man
/docs/pydoc
/docs/tutorial
/docs/userdoc
/docs/web/site/
# tools dir
/tools/*.vs
/tools/*.egg-info
/tools/[0-9]*
/tools/game/output
/tools/game/racing/log
/tools/game/racing/tripinfos.xml
/tools/game/tls
/tools/game/scores.pkl
/tools/game/refscores.pkl
/tools/contributed/lisum/lisum-core/target/
/tools/contributed/lisum/lisum-gui/target/
/tools/contributed/traas/dist
/tools/contributed/traas/javadoc
/tools/contributed/traas/release
/tools/contributed/traas/target
/tools/libsumo/_libsumo.*
/tools/libsumo/libsumo.py
/tools/libtraci/_libtraci.*
/tools/libtraci/libtraci.py
/tools/neteditTestFunctions/.vs
/tools/setup.py
# extracted tests
/tests/_*
/tests/activitygen/filter_files
/tests/netedit/filter_files
