<viewsettings>
    <viewport zoom="300" x="330" y="290"/>
    <delay value="500.00"/>
    <decal file="dlr.gif" centerX="290" centerY="290" width="50" height="50" rotation="0.00"/>
    <scheme name="game_square">
        <opengl antialiase="0" dither="0"/>
        <background backgroundColor="0.20,0.50,0.20"
                    showGrid="0" gridXSize="100.00" gridYSize="100.00"/>
        <vehicles vehicleMode="10" vehicleQuality="2" minVehicleSize="1.00" vehicleExaggeration="1.00" showBlinker="1"
                  vehicleName_show="0" vehicleName_size="50.00" vehicleName_color="0.80,0.60,0.00" >
            <colorScheme name="uniform">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="given/assigned vehicle color">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="given/assigned type color">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="given/assigned route color">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="depart position as HSV">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="arrival position as HSV">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="direction/distance as HSV">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="by speed" interpolated="1">
                <entry color="1.00,0.00,0.00" threshold="0.00"/>
                <entry color="0.00,0.00,1.00" threshold="41.67"/>
            </colorScheme>
            <colorScheme name="by waiting time" interpolated="1">
                <entry color="green" threshold="0.00"/>
                <entry color="yellow" threshold="20.00"/>
                <entry color="red" threshold="40.00"/>
            </colorScheme>
            <colorScheme name="by time since last lanechange" interpolated="1">
                <entry color="1.00,1.00,1.00" threshold="0.00"/>
                <entry color="0.50,0.50,0.50" threshold="300.00"/>
            </colorScheme>
            <colorScheme name="by max speed" interpolated="1">
                <entry color="1.00,0.00,0.00" threshold="0.00"/>
                <entry color="0.00,0.00,1.00" threshold="41.67"/>
            </colorScheme>
            <colorScheme name="by CO2 emissions (HBEFA)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="5.00"/>
            </colorScheme>
            <colorScheme name="by CO emissions (HBEFA)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="0.05"/>
            </colorScheme>
            <colorScheme name="by PMx emissions (HBEFA)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="0.01"/>
            </colorScheme>
            <colorScheme name="by NOx emissions (HBEFA)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="0.12"/>
            </colorScheme>
            <colorScheme name="by HC emissions (HBEFA)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="0.02"/>
            </colorScheme>
            <colorScheme name="by fuel consumption (HBEFA)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="0.01"/>
            </colorScheme>
            <colorScheme name="by noise emissions (Harmonoise)" interpolated="1">
                <entry color="0.00,1.00,0.00" threshold="0.00"/>
                <entry color="1.00,0.00,0.00" threshold="100.00"/>
            </colorScheme>
            <colorScheme name="by reroute number" interpolated="1">
                <entry color="1.00,0.00,0.00" threshold="0.00"/>
                <entry color="1.00,1.00,0.00" threshold="1.00"/>
                <entry color="1.00,1.00,1.00" threshold="10.00"/>
            </colorScheme>
        </vehicles>
        <pois poiTextParam="PARAM_TEXT" poi_minSize="0.00" poi_exaggeration="0.00" poi_constantSize="0" poi_constantSizeSelected="0" poiDetail="16" poiName_show="1" poiName_size="150.00" poiName_color="cyan" poiName_bgColor="128,0,0,0" poiName_constantSize="1" poiName_onlySelected="0" poiType_show="0" poiType_size="60.00" poiType_color="255,0,128" poiType_bgColor="128,0,0,0" poiType_constantSize="1" poiType_onlySelected="0" poiText_show="0" poiText_size="80.00" poiText_color="140,0,255" poiText_bgColor="128,0,0,0" poiText_constantSize="1" poiText_onlySelected="0">
            <colorScheme name="given POI color">
                <entry color="red"/>
            </colorScheme>
            <colorScheme name="by selection">
                <entry color="179,179,179" name="unselected"/>
                <entry color="0,102,204" name="selected"/>
            </colorScheme>
            <colorScheme name="uniform">
                <entry color="red"/>
            </colorScheme>
        </pois>
        <legend showSizeLegend="1"/>
    </scheme>

    <event id="jam" commandPosix="play sounds/car_horn1.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn1.wav" probability="0.001"/>
    <event id="jam" commandPosix="play sounds/car_horn2.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn2.wav" probability="0.001"/>
    <event id="jam" commandPosix="play sounds/car_horn3.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn3.wav" probability="0.001"/>
    <jamTime value="40"/>
</viewsettings>
