<viewsettings>
    <delay value="150"/>
    <viewport zoom="800" x="1290.00" y="800.00"/>
    <decal file="highway_bremen.gif" centerX="1290.00" centerY="800.00" centerZ="0.00" width="385.00" height="217.00" altitude="0.00" rotation="0.00" tilt="0.00" roll="0.00" layer="0.00"/>
    <scheme name="game_highway">
        <opengl antialiase="0" dither="0"/>
        <vehicles vehicleMode="30" vehicleQuality="2" minVehicleSize="1.00" vehicleExaggeration="1.00" showBlinker="1"
                  vehicleName_show="0" vehicleName_size="50.00" vehicleName_color="0.80,0.60,0.00" >
            <colorScheme name="uniform">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="given/assigned vehicle color">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="given/assigned type color">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="given/assigned route color">
                <entry color="1.00,1.00,0.00"/>
            </colorScheme>
            <colorScheme name="by time loss" interpolated="1">
                <entry color="green" threshold="0.00"/>
                <entry color="yellow" threshold="10.00"/>
                <entry color="red" threshold="25.00"/>
            </colorScheme>
        </vehicles>
        <legend showSizeLegend="1"/>
    </scheme>

    <event id="jam" commandPosix="play sounds/car_horn1.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn1.wav" probability="0.1"/>
    <event id="jam" commandPosix="play sounds/car_horn2.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn2.wav" probability="0.1"/>
    <event id="jam" commandPosix="play sounds/car_horn3.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn3.wav" probability="0.1"/>
    <jamTime value="40"/>

</viewsettings>
