bibtexparser>=2.0.0b9
markdown>=3.3
matplotlib
mdx_gh_links
mdx_truly_sane_lists>=1.3
mkdocs>=1.6.0
mkdocs-git-revision-date-plugin>=0.2
mkdocs-macros-plugin>=1.5.0
mkdocs-publisher
mkdocs-redirects>=1.2.1
mkdocs-unused-files
pdoc
plantuml==0.3.0
plantuml-markdown
pymdown-extensions
requests
