#map{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

body{
    font-size: 18px;
    font-family: Futura, Verdena, Arial, sans-serif;
}

#controls{
    position: absolute;
    left: 40%;
    bottom: 5px;
}

.container, .options{
    background: rgba(0, 60, 136, 0.5);
    transition: 1s background;
    border-radius: 4px;
    border: none;
    color: #FFF;
    padding: 2px;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
}

.container:hover, .options:hover{
 background: rgba(0, 60, 136, 0.7);
}

.options{
    display: none;
    position: absolute;
    left: -5px;
    bottom: 25px;
    width: 300px;
}

.options label{
    display: block;
}

.options input{
    float: right;
    width: 40px;
    border-radius: 2px;
    border: none;
}

.container:hover > :checked + .options, #export:hover .options{
    display: block;
}

input[type=number]{
    width: 50px;
}
