###########################################################
#
# Redirects for the SUMO Homepage
#
###########################################################

RewriteEngine On

RewriteRule	^/?wiki(/.*)?$	%{DOCUMENT_ROOT}/w/index.php [L]

RewriteRule	^/?trac(/.*)?$	%{DOCUMENT_ROOT}/trac.wsgi [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule     ^/?blog(/.*)?$  %{DOCUMENT_ROOT}/wordpress/index.php [L]
