<?xml version="1.0" encoding="UTF-8"?>

<!-- generated on 2024-03-22 14:01:41 by Eclipse SUMO sumo Version v1_19_0+1469-54ca692cc4d
This data file and the accompanying materials
are made available under the terms of the Eclipse Public License v2.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v20.html
This file may also be made available under the following Secondary
Licenses when the conditions for such availability set forth in the Eclipse
Public License 2.0 are satisfied: GNU General Public License, version 2
or later which is available at
https://www.gnu.org/licenses/old-licenses/gpl-2.0-standalone.html
SPDX-License-Identifier: EPL-2.0 OR GPL-2.0-or-later
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/sumoConfiguration.xsd">

    <input>
        <net-file value="net.net.xml"/>
        <route-files value="input_routes.rou.xml"/>
    </input>

    <output>
        <write-license value="true"/>
        <fcd-output value="fcd.xml"/>
        <tripinfo-output value="tripinfos.xml"/>
    </output>

    <time>
        <end value="2000"/>
    </time>

    <processing>
        <default.speeddev value="0"/>
        <pedestrian.model value="jupedsim"/>
    </processing>

    <report>
        <xml-validation value="never"/>
        <no-step-log value="true"/>
    </report>

    <fcd_device>
        <device.fcd.period value="10"/>
    </fcd_device>

</configuration>
-->

<fcd-export xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://sumo.dlr.de/xsd/fcd_file.xsd">
    <timestep time="0.00">
        <person id="0" x="1802.04" y="2068.48" angle="343.90" speed="0.00" pos="0.00" edge="1464" slope="0.00"/>
    </timestep>
    <timestep time="10.00">
        <person id="0" x="1789.22" y="2063.28" angle="248.98" speed="1.39" pos="0.00" edge="-1388" slope="0.00"/>
        <person id="6" x="1781.29" y="2059.86" angle="253.79" speed="1.39" pos="5.56" edge="-1388" slope="0.00"/>
        <person id="8" x="1652.47" y="2000.32" angle="74.10" speed="1.39" pos="2.78" edge="1388" slope="0.00"/>
        <person id="5" x="1656.48" y="2001.46" angle="74.10" speed="1.39" pos="6.94" edge="1388" slope="0.00"/>
        <person id="1" x="1661.80" y="2003.05" angle="73.79" speed="1.39" pos="12.50" edge="1388" slope="0.00"/>
        <person id="4" x="1791.70" y="1907.26" angle="5.31" speed="1.39" pos="8.33" edge="1391" slope="0.00"/>
        <person id="7" x="1802.29" y="2064.32" angle="176.57" speed="1.39" pos="0.00" edge="1464" slope="0.00"/>
        <person id="2" x="1798.96" y="2079.16" angle="343.90" speed="1.39" pos="11.11" edge="1464" slope="0.00"/>
        <person id="9" x="1597.10" y="1890.56" angle="24.74" speed="1.39" pos="1.39" edge="533" slope="0.00"/>
        <person id="3" x="1600.59" y="1898.13" angle="24.74" speed="1.39" pos="9.72" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="20.00">
        <person id="0" x="1776.07" y="2058.90" angle="253.30" speed="1.39" pos="10.84" edge="-1388" slope="0.00"/>
        <person id="6" x="1767.95" y="2055.98" angle="253.79" speed="1.39" pos="19.44" edge="-1388" slope="0.00"/>
        <person id="8" x="1665.83" y="2004.13" angle="74.10" speed="1.39" pos="16.67" edge="1388" slope="0.00"/>
        <person id="5" x="1669.84" y="2005.27" angle="74.10" speed="1.39" pos="20.83" edge="1388" slope="0.00"/>
        <person id="1" x="1675.14" y="2006.93" angle="73.79" speed="1.39" pos="26.39" edge="1388" slope="0.00"/>
        <person id="4" x="1792.99" y="1921.09" angle="5.31" speed="1.39" pos="22.22" edge="1391" slope="0.00"/>
        <person id="7" x="1803.12" y="2050.46" angle="176.57" speed="1.39" pos="139.70" edge="1391" slope="0.00"/>
        <person id="2" x="1795.11" y="2092.50" angle="343.90" speed="1.39" pos="25.00" edge="1464" slope="0.00"/>
        <person id="9" x="1602.91" y="1903.18" angle="24.74" speed="1.39" pos="15.28" edge="533" slope="0.00"/>
        <person id="3" x="1606.40" y="1910.74" angle="24.74" speed="1.39" pos="23.61" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="30.00">
        <person id="0" x="1762.76" y="2054.91" angle="253.30" speed="1.39" pos="24.72" edge="-1388" slope="0.00"/>
        <person id="6" x="1754.61" y="2052.10" angle="253.79" speed="1.39" pos="33.33" edge="-1388" slope="0.00"/>
        <person id="8" x="1679.19" y="2007.93" angle="74.10" speed="1.39" pos="30.56" edge="1388" slope="0.00"/>
        <person id="5" x="1683.19" y="2009.07" angle="74.10" speed="1.39" pos="34.72" edge="1388" slope="0.00"/>
        <person id="1" x="1688.48" y="2010.80" angle="73.79" speed="1.39" pos="40.28" edge="1388" slope="0.00"/>
        <person id="4" x="1794.27" y="1934.92" angle="5.31" speed="1.39" pos="36.11" edge="1391" slope="0.00"/>
        <person id="7" x="1803.90" y="2036.64" angle="184.79" speed="1.39" pos="138.29" edge="1391" slope="0.00"/>
        <person id="2" x="1791.25" y="2105.84" angle="343.90" speed="1.39" pos="38.89" edge="1464" slope="0.00"/>
        <person id="9" x="1608.73" y="1915.79" angle="24.74" speed="1.39" pos="29.17" edge="533" slope="0.00"/>
        <person id="3" x="1612.21" y="1923.36" angle="24.74" speed="1.39" pos="37.50" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="40.00">
        <person id="0" x="1749.46" y="2050.92" angle="253.30" speed="1.39" pos="38.61" edge="-1388" slope="0.00"/>
        <person id="6" x="1741.28" y="2048.23" angle="253.79" speed="1.39" pos="47.22" edge="-1388" slope="0.00"/>
        <person id="8" x="1692.54" y="2011.73" angle="74.10" speed="1.39" pos="44.44" edge="1388" slope="0.00"/>
        <person id="5" x="1696.55" y="2012.88" angle="74.10" speed="1.39" pos="48.61" edge="1388" slope="0.00"/>
        <person id="1" x="1701.81" y="2014.68" angle="73.79" speed="1.39" pos="54.17" edge="1388" slope="0.00"/>
        <person id="4" x="1795.56" y="1948.75" angle="5.31" speed="1.39" pos="50.00" edge="1391" slope="0.00"/>
        <person id="7" x="1802.67" y="2022.80" angle="185.12" speed="1.39" pos="124.40" edge="1391" slope="0.00"/>
        <person id="9" x="1614.54" y="1928.40" angle="24.74" speed="1.39" pos="43.05" edge="533" slope="0.00"/>
        <person id="3" x="1618.03" y="1935.97" angle="24.74" speed="1.39" pos="51.39" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="50.00">
        <person id="0" x="1736.16" y="2046.93" angle="253.30" speed="1.39" pos="52.50" edge="-1388" slope="0.00"/>
        <person id="6" x="1727.94" y="2044.35" angle="253.79" speed="1.39" pos="61.11" edge="-1388" slope="0.00"/>
        <person id="8" x="1705.90" y="2015.54" angle="74.10" speed="1.39" pos="58.33" edge="1388" slope="0.00"/>
        <person id="5" x="1709.91" y="2016.68" angle="74.10" speed="1.39" pos="62.50" edge="1388" slope="0.00"/>
        <person id="1" x="1715.15" y="2018.56" angle="73.79" speed="1.39" pos="68.06" edge="1388" slope="0.00"/>
        <person id="4" x="1796.85" y="1962.57" angle="5.31" speed="1.39" pos="63.89" edge="1391" slope="0.00"/>
        <person id="7" x="1801.43" y="2008.97" angle="185.13" speed="1.39" pos="110.51" edge="1391" slope="0.00"/>
        <person id="9" x="1620.35" y="1941.02" angle="24.74" speed="1.39" pos="56.94" edge="533" slope="0.00"/>
        <person id="3" x="1623.84" y="1948.59" angle="24.74" speed="1.39" pos="65.27" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="60.00">
        <person id="0" x="1722.85" y="2042.94" angle="253.30" speed="1.39" pos="66.39" edge="-1388" slope="0.00"/>
        <person id="8" x="1719.26" y="2019.34" angle="74.10" speed="1.39" pos="72.22" edge="1388" slope="0.00"/>
        <person id="5" x="1723.27" y="2020.49" angle="74.10" speed="1.39" pos="76.39" edge="1388" slope="0.00"/>
        <person id="4" x="1798.13" y="1976.40" angle="5.31" speed="1.39" pos="77.78" edge="1391" slope="0.00"/>
        <person id="7" x="1800.19" y="1995.13" angle="185.13" speed="1.39" pos="96.62" edge="1391" slope="0.00"/>
        <person id="9" x="1626.16" y="1953.63" angle="24.74" speed="1.39" pos="70.83" edge="533" slope="0.00"/>
        <person id="3" x="1629.65" y="1961.20" angle="24.74" speed="1.39" pos="79.16" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="70.00">
        <person id="8" x="1732.62" y="2023.15" angle="74.10" speed="1.39" pos="86.11" edge="1388" slope="0.00"/>
        <person id="5" x="1736.62" y="2024.29" angle="74.10" speed="1.39" pos="90.28" edge="1388" slope="0.00"/>
        <person id="7" x="1799.22" y="1981.86" angle="186.09" speed="1.39" pos="83.31" edge="1391" slope="0.00"/>
        <person id="4" x="1799.26" y="1989.67" angle="5.85" speed="1.39" pos="91.09" edge="1391" slope="0.00"/>
        <person id="9" x="1631.98" y="1966.25" angle="24.75" speed="1.39" pos="84.72" edge="533" slope="0.00"/>
        <person id="3" x="1635.47" y="1973.81" angle="24.80" speed="1.39" pos="93.05" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="80.00">
        <person id="8" x="1745.97" y="2026.95" angle="74.10" speed="1.39" pos="100.00" edge="1388" slope="0.00"/>
        <person id="5" x="1749.98" y="2028.09" angle="74.09" speed="1.39" pos="104.17" edge="1388" slope="0.00"/>
        <person id="4" x="1800.63" y="2003.49" angle="5.62" speed="1.39" pos="104.98" edge="1391" slope="0.00"/>
        <person id="9" x="1637.80" y="1978.85" angle="24.92" speed="1.39" pos="98.61" edge="533" slope="0.00"/>
        <person id="3" x="1641.32" y="1986.41" angle="25.02" speed="1.39" pos="106.94" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="90.00">
        <person id="8" x="1759.33" y="2030.77" angle="73.99" speed="1.39" pos="113.89" edge="1388" slope="0.00"/>
        <person id="5" x="1763.33" y="2031.92" angle="73.92" speed="1.39" pos="118.06" edge="1388" slope="0.00"/>
        <person id="4" x="1801.99" y="2017.31" angle="5.59" speed="1.39" pos="118.87" edge="1391" slope="0.00"/>
        <person id="3" x="1646.76" y="1999.07" angle="352.27" speed="1.33" pos="2.23" edge="533" slope="0.00"/>
        <person id="9" x="1643.67" y="1991.44" angle="24.98" speed="1.39" pos="112.50" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="100.00">
        <person id="8" x="1772.67" y="2034.62" angle="73.85" speed="1.39" pos="127.78" edge="1388" slope="0.00"/>
        <person id="5" x="1776.68" y="2035.78" angle="73.86" speed="1.39" pos="131.94" edge="1388" slope="0.00"/>
        <person id="4" x="1803.33" y="2031.13" angle="5.50" speed="1.39" pos="132.76" edge="1391" slope="0.00"/>
        <person id="9" x="1646.01" y="2004.57" angle="352.27" speed="1.39" pos="4.87" edge="533" slope="0.00"/>
        <person id="3" x="1644.89" y="2012.83" angle="352.27" speed="1.39" pos="13.12" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="110.00">
        <person id="3" x="1651.35" y="2021.49" angle="73.28" speed="1.39" pos="141.04" edge="-1388" slope="0.00"/>
        <person id="8" x="1786.02" y="2038.48" angle="73.95" speed="1.39" pos="141.67" edge="1388" slope="0.00"/>
        <person id="5" x="1790.02" y="2039.62" angle="74.21" speed="1.39" pos="145.83" edge="1388" slope="0.00"/>
        <person id="4" x="1798.07" y="2041.56" angle="298.85" speed="1.39" pos="3.69" edge="1391" slope="0.00"/>
        <person id="9" x="1644.05" y="2018.32" angle="355.08" speed="1.39" pos="0.42" edge="533" slope="0.00"/>
    </timestep>
    <timestep time="120.00">
        <person id="3" x="1664.65" y="2025.48" angle="73.30" speed="1.39" pos="127.15" edge="-1388" slope="0.00"/>
        <person id="9" x="1656.67" y="2023.08" angle="73.30" speed="1.39" pos="135.48" edge="-1388" slope="0.00"/>
        <person id="8" x="1799.54" y="2039.00" angle="100.22" speed="1.39" pos="5.41" edge="1388" slope="0.00"/>
        <person id="5" x="1803.66" y="2038.39" angle="91.43" speed="1.39" pos="11.80" edge="1388" slope="0.00"/>
        <person id="4" x="1790.76" y="2052.87" angle="333.46" speed="1.39" pos="8.36" edge="1391" slope="0.00"/>
    </timestep>
    <timestep time="130.00">
        <person id="4" x="1781.72" y="2059.37" angle="254.34" speed="1.39" pos="5.27" edge="-1388" slope="0.00"/>
        <person id="3" x="1677.96" y="2029.47" angle="73.30" speed="1.39" pos="113.26" edge="-1388" slope="0.00"/>
        <person id="9" x="1669.97" y="2027.08" angle="73.30" speed="1.39" pos="121.59" edge="-1388" slope="0.00"/>
        <person id="5" x="1802.84" y="2024.73" angle="185.12" speed="1.39" pos="126.34" edge="1391" slope="0.00"/>
        <person id="8" x="1803.21" y="2028.88" angle="185.12" speed="1.39" pos="130.50" edge="1391" slope="0.00"/>
    </timestep>
    <timestep time="140.00">
        <person id="4" x="1768.35" y="2055.61" angle="254.28" speed="1.39" pos="19.16" edge="-1388" slope="0.00"/>
        <person id="3" x="1691.26" y="2033.46" angle="73.30" speed="1.39" pos="99.37" edge="-1388" slope="0.00"/>
        <person id="9" x="1683.28" y="2031.07" angle="73.30" speed="1.39" pos="107.70" edge="-1388" slope="0.00"/>
        <person id="5" x="1801.60" y="2010.90" angle="185.13" speed="1.39" pos="112.45" edge="1391" slope="0.00"/>
        <person id="8" x="1801.97" y="2015.05" angle="185.13" speed="1.39" pos="116.61" edge="1391" slope="0.00"/>
    </timestep>
    <timestep time="150.00">
        <person id="4" x="1754.98" y="2051.85" angle="254.28" speed="1.39" pos="33.05" edge="-1388" slope="0.00"/>
        <person id="3" x="1704.56" y="2037.45" angle="73.30" speed="1.39" pos="85.48" edge="-1388" slope="0.00"/>
        <person id="9" x="1696.58" y="2035.06" angle="73.30" speed="1.39" pos="93.82" edge="-1388" slope="0.00"/>
        <person id="5" x="1800.36" y="1997.06" angle="185.13" speed="1.39" pos="98.56" edge="1391" slope="0.00"/>
        <person id="8" x="1800.73" y="2001.21" angle="185.13" speed="1.39" pos="102.72" edge="1391" slope="0.00"/>
    </timestep>
    <timestep time="160.00">
        <person id="4" x="1741.62" y="2048.08" angle="254.28" speed="1.39" pos="46.94" edge="-1388" slope="0.00"/>
        <person id="9" x="1709.88" y="2039.05" angle="73.30" speed="1.39" pos="79.93" edge="-1388" slope="0.00"/>
        <person id="5" x="1799.12" y="1983.23" angle="185.13" speed="1.39" pos="84.67" edge="1391" slope="0.00"/>
        <person id="8" x="1799.49" y="1987.38" angle="185.13" speed="1.39" pos="88.84" edge="1391" slope="0.00"/>
    </timestep>
    <timestep time="170.00">
        <person id="4" x="1728.25" y="2044.32" angle="254.28" speed="1.39" pos="60.82" edge="-1388" slope="0.00"/>
        <person id="8" x="1798.25" y="1973.55" angle="185.13" speed="1.39" pos="74.95" edge="1391" slope="0.00"/>
    </timestep>
    <timestep time="180.00"/>
    <timestep time="190.00"/>
    <timestep time="200.00"/>
    <timestep time="210.00"/>
    <timestep time="220.00"/>
    <timestep time="230.00"/>
    <timestep time="240.00"/>
    <timestep time="250.00"/>
    <timestep time="260.00"/>
    <timestep time="270.00"/>
    <timestep time="280.00"/>
    <timestep time="290.00"/>
    <timestep time="300.00"/>
    <timestep time="310.00"/>
    <timestep time="320.00"/>
    <timestep time="330.00"/>
    <timestep time="340.00"/>
    <timestep time="350.00"/>
    <timestep time="360.00"/>
    <timestep time="370.00"/>
    <timestep time="380.00"/>
    <timestep time="390.00"/>
    <timestep time="400.00"/>
    <timestep time="410.00"/>
    <timestep time="420.00"/>
    <timestep time="430.00"/>
    <timestep time="440.00"/>
    <timestep time="450.00"/>
    <timestep time="460.00"/>
    <timestep time="470.00"/>
    <timestep time="480.00"/>
    <timestep time="490.00"/>
    <timestep time="500.00"/>
    <timestep time="510.00"/>
    <timestep time="520.00"/>
    <timestep time="530.00"/>
    <timestep time="540.00"/>
    <timestep time="550.00"/>
    <timestep time="560.00"/>
    <timestep time="570.00"/>
    <timestep time="580.00"/>
    <timestep time="590.00"/>
    <timestep time="600.00"/>
    <timestep time="610.00"/>
    <timestep time="620.00"/>
    <timestep time="630.00"/>
    <timestep time="640.00"/>
    <timestep time="650.00"/>
    <timestep time="660.00"/>
    <timestep time="670.00"/>
    <timestep time="680.00"/>
    <timestep time="690.00"/>
    <timestep time="700.00"/>
    <timestep time="710.00"/>
    <timestep time="720.00"/>
    <timestep time="730.00"/>
    <timestep time="740.00"/>
    <timestep time="750.00"/>
    <timestep time="760.00"/>
    <timestep time="770.00"/>
    <timestep time="780.00"/>
    <timestep time="790.00"/>
    <timestep time="800.00"/>
    <timestep time="810.00"/>
    <timestep time="820.00"/>
    <timestep time="830.00"/>
    <timestep time="840.00"/>
    <timestep time="850.00"/>
    <timestep time="860.00"/>
    <timestep time="870.00"/>
    <timestep time="880.00"/>
    <timestep time="890.00"/>
    <timestep time="900.00"/>
    <timestep time="910.00"/>
    <timestep time="920.00"/>
    <timestep time="930.00"/>
    <timestep time="940.00"/>
    <timestep time="950.00"/>
    <timestep time="960.00"/>
    <timestep time="970.00"/>
    <timestep time="980.00"/>
    <timestep time="990.00"/>
    <timestep time="1000.00"/>
    <timestep time="1010.00"/>
    <timestep time="1020.00"/>
    <timestep time="1030.00"/>
    <timestep time="1040.00"/>
    <timestep time="1050.00"/>
    <timestep time="1060.00"/>
    <timestep time="1070.00"/>
    <timestep time="1080.00"/>
    <timestep time="1090.00"/>
    <timestep time="1100.00"/>
    <timestep time="1110.00"/>
    <timestep time="1120.00"/>
    <timestep time="1130.00"/>
    <timestep time="1140.00"/>
    <timestep time="1150.00"/>
    <timestep time="1160.00"/>
    <timestep time="1170.00"/>
    <timestep time="1180.00"/>
    <timestep time="1190.00"/>
    <timestep time="1200.00"/>
    <timestep time="1210.00"/>
    <timestep time="1220.00"/>
    <timestep time="1230.00"/>
    <timestep time="1240.00"/>
    <timestep time="1250.00"/>
    <timestep time="1260.00"/>
    <timestep time="1270.00"/>
    <timestep time="1280.00"/>
    <timestep time="1290.00"/>
    <timestep time="1300.00"/>
    <timestep time="1310.00"/>
    <timestep time="1320.00"/>
    <timestep time="1330.00"/>
    <timestep time="1340.00"/>
    <timestep time="1350.00"/>
    <timestep time="1360.00"/>
    <timestep time="1370.00"/>
    <timestep time="1380.00"/>
    <timestep time="1390.00"/>
    <timestep time="1400.00"/>
    <timestep time="1410.00"/>
    <timestep time="1420.00"/>
    <timestep time="1430.00"/>
    <timestep time="1440.00"/>
    <timestep time="1450.00"/>
    <timestep time="1460.00"/>
    <timestep time="1470.00"/>
    <timestep time="1480.00"/>
    <timestep time="1490.00"/>
    <timestep time="1500.00"/>
    <timestep time="1510.00"/>
    <timestep time="1520.00"/>
    <timestep time="1530.00"/>
    <timestep time="1540.00"/>
    <timestep time="1550.00"/>
    <timestep time="1560.00"/>
    <timestep time="1570.00"/>
    <timestep time="1580.00"/>
    <timestep time="1590.00"/>
    <timestep time="1600.00"/>
    <timestep time="1610.00"/>
    <timestep time="1620.00"/>
    <timestep time="1630.00"/>
    <timestep time="1640.00"/>
    <timestep time="1650.00"/>
    <timestep time="1660.00"/>
    <timestep time="1670.00"/>
    <timestep time="1680.00"/>
    <timestep time="1690.00"/>
    <timestep time="1700.00"/>
    <timestep time="1710.00"/>
    <timestep time="1720.00"/>
    <timestep time="1730.00"/>
    <timestep time="1740.00"/>
    <timestep time="1750.00"/>
    <timestep time="1760.00"/>
    <timestep time="1770.00"/>
    <timestep time="1780.00"/>
    <timestep time="1790.00"/>
    <timestep time="1800.00"/>
    <timestep time="1810.00"/>
    <timestep time="1820.00"/>
    <timestep time="1830.00"/>
    <timestep time="1840.00"/>
    <timestep time="1850.00"/>
    <timestep time="1860.00"/>
    <timestep time="1870.00"/>
    <timestep time="1880.00"/>
    <timestep time="1890.00"/>
    <timestep time="1900.00"/>
    <timestep time="1910.00"/>
    <timestep time="1920.00"/>
    <timestep time="1930.00"/>
    <timestep time="1940.00"/>
    <timestep time="1950.00"/>
    <timestep time="1960.00"/>
    <timestep time="1970.00"/>
    <timestep time="1980.00"/>
    <timestep time="1990.00"/>
</fcd-export>
