<decals>
    <decal filename="dlr.gif" centerX="734.30" centerY="179.06" width="200" height="200" rotation="0.00"/>
    <decal filename="dlr.tif" centerX="334.30" centerY="579.06" width="200" height="200" rotation="0.00"/>
    <decal filename="dlr.png" centerX="734.30" centerY="579.06" width="200" height="200" rotation="0.00"/>
    <decal filename="dlr.jpg" centerX="334.30" centerY="179.06" width="200" height="200" rotation="0.00"/>
</decals>
