<viewsettings>
    <delay value="500"/>
    <viewport zoom="300" x="250" y="250"/>
    <decal file="dlr.gif" centerX="160" centerY="240" width="50" height="50" rotation="0.00"/>
    <decal file="canvas.png" screenRelative="0" centerX="265.00" centerY="275.60" centerZ="0.00" width="800.00" height="1000.00" altitude="0.00" rotation="-4.00" tilt="0.00" roll="0.00" layer="0.00"/>
    <scheme name="game_square">
        <opengl antialiase="0" dither="0"/>
        <background backgroundColor="0.20,0.50,0.20"
                    showGrid="0" gridXSize="100.00" gridYSize="100.00"/>
        <vehicles vehicleMode="10" vehicleQuality="2" minVehicleSize="1.00" vehicleExaggeration="1.00" showBlinker="1"
                  vehicleName_show="0" vehicleName_size="50.00" vehicleName_color="0.80,0.60,0.00" >
            <colorScheme name="by waiting time" interpolated="1">
                <entry color="green" threshold="0.00"/>
                <entry color="yellow" threshold="20.00"/>
                <entry color="red" threshold="40.00"/>
            </colorScheme>
        </vehicles>
        <pois poiTextParam="PARAM_TEXT" poi_minSize="0.00" poi_exaggeration="0.00" poi_constantSize="0" poi_constantSizeSelected="0" poiDetail="16" poiName_show="1" poiName_size="150.00" poiName_color="cyan" poiName_bgColor="128,0,0,0" poiName_constantSize="1" poiName_onlySelected="0" poiType_show="0" poiType_size="60.00" poiType_color="255,0,128" poiType_bgColor="128,0,0,0" poiType_constantSize="1" poiType_onlySelected="0" poiText_show="0" poiText_size="80.00" poiText_color="140,0,255" poiText_bgColor="128,0,0,0" poiText_constantSize="1" poiText_onlySelected="0">
            <colorScheme name="given POI color">
                <entry color="red"/>
            </colorScheme>
            <colorScheme name="by selection">
                <entry color="179,179,179" name="unselected"/>
                <entry color="0,102,204" name="selected"/>
            </colorScheme>
            <colorScheme name="uniform">
                <entry color="red"/>
            </colorScheme>
        </pois>
        <legend showSizeLegend="1"/>
    </scheme>

    <event id="jam" commandPosix="play sounds/car_horn1.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn1.wav" probability="0.001"/>
    <event id="jam" commandPosix="play sounds/car_horn2.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn2.wav" probability="0.001"/>
    <event id="jam" commandPosix="play sounds/car_horn3.wav &#x26;"  commandWindows="start /min vlc.exe -Idummy --play-and-exit sounds/car_horn3.wav" probability="0.001"/>
    <jamTime value="40"/>
</viewsettings>
