<?xml version="1.0" encoding="utf-8"?>
<!--
    Extra WiX source merged into the CPack-generated installer.

    It provides things that CPack/WIX cannot express on its own:
      * SUMO_HOME, PATH and PYTHONPATH system environment variables
      * the `Sumo.Document` ProgId with the .sumocfg file association
        and "Set Program Access and Defaults" capability keys

    All elements are pulled into the package via the
    `SumoExtras` ComponentGroup which is added to the root feature
    by `cpack_patch.xml`.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!-- Optional environment check -->
        <Property Id="RUNPYTHONCHECK" Value="1" />
        <Property Id="SUMOHOMEENV" Value="1" />
        <Property Id="PATHPYTHONENV" Value="1" />
        <Property Id="PIPINSTALLREQ" />
        <Property Id="PIPINSTALLLIBSUMO" />

        <UI>
            <Dialog Id="SUMOOptionsDlg" Width="370" Height="270" Title="SUMO Setup Options">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>

                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Setup Options" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure optional checks and environment settings" />

                <Control Id="PythonLink" Type="Hyperlink" X="20" Y="50" Width="290" Height="30">
                    <Text><![CDATA[It is strongly recommended to <a href="https://www.python.org/downloads/">install Python</a> (if you do not have it already).]]></Text>
                </Control>
                <Control Id="RunPythonCheckBox" Type="CheckBox" X="20" Y="75" Width="320" Height="17"
                         Property="RUNPYTHONCHECK" CheckBoxValue="1" Text="Check for Python and required packages during installation." />
                <Control Id="SumoHomeEnvCheckBox" Type="CheckBox" X="20" Y="100" Width="320" Height="17"
                         Property="SUMOHOMEENV" CheckBoxValue="1" Text="Set SUMO_HOME environment variable." />
                <Control Id="PathPythonEnvCheckBox" Type="CheckBox" X="20" Y="125" Width="320" Height="17"
                         Property="PATHPYTHONENV" CheckBoxValue="1" Text="Add SUMO to PATH and PYTHONPATH." />
                <Control Id="PipInstallReqCheckBox" Type="CheckBox" X="20" Y="150" Width="320" Height="17"
                         Property="PIPINSTALLREQ" CheckBoxValue="1" Text="Install the tool dependencies into the active Python." />
                <Control Id="PipInstallLibsumoCheckBox" Type="CheckBox" X="20" Y="175" Width="320" Height="17"
                         Property="PIPINSTALLLIBSUMO" CheckBoxValue="1" Text="Install libsumo for Python into the active Python." />
                <Control Id="LibsumoRemark" Type="Text" X="20" Y="200" Width="290" Height="30" NoPrefix="yes"
                         Text="Be aware that the installation of the dependencies (by checking the boxes above) might take some minutes and will add packages to your system python even if you cancel the SUMO installation or uninstall it later. If you want to do it manually call 'pip install libsumo -r %SUMO_HOME%/tools/requirements.txt'." />
            </Dialog>

            <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="SUMOOptionsDlg" Order="2">1</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">1</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="SetPythonCheckCmd" Order="1">RUNPYTHONCHECK</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="CheckPython" Order="2">RUNPYTHONCHECK</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="SetPipInstallReqCmd" Order="3">PIPINSTALLREQ</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="RunPipInstallReq" Order="4">PIPINSTALLREQ</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="SetPipInstallLibsumoCmd" Order="5">PIPINSTALLLIBSUMO</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="RunPipInstallLibsumo" Order="6">PIPINSTALLLIBSUMO</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="SetJPSPackageCheckCmd" Order="7">RUNPYTHONCHECK</Publish>
            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="DoAction" Value="CheckJPSPackage" Order="8">RUNPYTHONCHECK</Publish>

            <Publish Dialog="SUMOOptionsDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="9">1</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SUMOOptionsDlg" Order="2">1</Publish>
        </UI>

        <!-- Python and JuPedSim detection via command line -->
        <CustomAction Id="SetPythonCheckCmd" Property="QtExecCmdLine"
                      Value="&quot;powershell.exe&quot; -NoProfile -WindowStyle Hidden -Command &quot;if (-not (Get-Command python.exe -ErrorAction SilentlyContinue)) { (New-Object -ComObject WScript.Shell).Popup('Python not found. It is either not installed or your PATH variable does not contain it. Some SUMO tools (e. g. osmWebWizard) need a Python installation.', 0, 'SUMO Setup', 0x30) }&quot;" />
        <CustomAction Id="CheckPython" BinaryKey="WixCA" DllEntry="CAQuietExec"
                      Execute="immediate" Return="ignore" />
        <CustomAction Id="SetJPSPackageCheckCmd" Property="QtExecCmdLine"
                      Value="&quot;powershell.exe&quot; -NoProfile -WindowStyle Hidden -Command &quot;python.exe -c 'import jupedsim' 2&gt;$null; if ($LASTEXITCODE -ne 0) { (New-Object -ComObject WScript.Shell).Popup('Python package ''jupedsim'' not found. Please install via pip.', 0, 'SUMO Setup', 0x30) }&quot;" />
        <CustomAction Id="CheckJPSPackage" BinaryKey="WixCA" DllEntry="CAQuietExec"
                      Execute="immediate" Return="ignore" />

        <!-- pip installs for tool dependencies / libsumo -->
        <CustomAction Id="SetPipInstallReqCmd" Property="QtExecCmdLine"
                      Value="&quot;python.exe&quot; -m pip install jupedsim lxml matplotlib pyproj rtree shapely" />
        <CustomAction Id="RunPipInstallReq" BinaryKey="WixCA" DllEntry="CAQuietExec"
                      Execute="immediate" Return="ignore" />

        <CustomAction Id="SetPipInstallLibsumoCmd" Property="QtExecCmdLine"
                      Value="&quot;python.exe&quot; -m pip install libsumo" />
        <CustomAction Id="RunPipInstallLibsumo" BinaryKey="WixCA" DllEntry="CAQuietExec"
                      Execute="immediate" Return="ignore" />

        <ComponentGroup Id="SumoExtras" Directory="INSTALL_ROOT">

            <Component Id="SumoHomeEnvironment" Guid="67D3110C-F900-461F-B836-177A7AE88BB9">
                <Condition>SUMOHOMEENV</Condition>
                <CreateFolder/>
                <Environment Id="SUMO_HOME"   Name="SUMO_HOME"  Value="[INSTALL_ROOT]"
                             Permanent="no" Part="all"  Action="set" System="yes" />
            </Component>

            <Component Id="SumoPathEnvironment" Guid="17359CBF-8C61-4C3D-B5A7-4407AFF096AA">
                <Condition>PATHPYTHONENV</Condition>
                <CreateFolder/>
                <Environment Id="PATH"        Name="PATH"       Value="[INSTALL_ROOT]bin;[INSTALL_ROOT]tools"
                             Permanent="no" Part="last" Action="set" System="yes" />
            </Component>

            <Component Id="SumoPythonPathEnvironment" Guid="3C6E4C8E-C4D3-483D-93C0-546A04D360F0">
                <Condition>PATHPYTHONENV</Condition>
                <CreateFolder/>
                <Environment Id="PYTHONPATH"  Name="PYTHONPATH" Value="[INSTALL_ROOT]tools"
                             Permanent="no" Part="last" Action="set" System="yes" />
            </Component>

            <Component Id="SumoFileAssociation" Guid="BD1FC8EE-2B15-11E1-BA48-028037EC0200">
                <CreateFolder/>

                <!-- "Set Program Access and Defaults" / default-program registration -->
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities"
                               Name="ApplicationDescription" Value="Simulation of Urban Mobility" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities"
                               Name="ApplicationIcon" Value="[INSTALL_ROOT]bin\sumo-gui.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities"
                               Name="ApplicationName" Value="SUMO" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\DefaultIcon"
                               Value="[INSTALL_ROOT]bin\sumo-gui.exe,1" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\FileAssociations"
                               Name=".sumocfg" Value="Sumo.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\MIMEAssociations"
                               Name="application/sumo" Value="Sumo.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\shell\Open\command"
                               Value="&quot;[INSTALL_ROOT]bin\sumo-gui.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\RegisteredApplications"
                               Name="Sumo" Value="Software\[Manufacturer]\[ProductName]\Capabilities" Type="string" />

                <!-- App Paths so Start->Run "sumo-gui" works -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\sumo-gui.exe"
                               Value="[INSTALL_ROOT]bin\sumo-gui.exe" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\sumo-gui.exe"
                               Name="Path" Value="[INSTALL_ROOT]bin" Type="string" />

                <!-- "Open with" list / Win7 jump menu pinning -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\sumo-gui.exe"
                               Name="FriendlyAppName" Value="SUMO GUI" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\sumo-gui.exe\shell\open\command"
                               Value="&quot;[INSTALL_ROOT]bin\sumo-gui.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\sumo-gui.exe\SupportedTypes"
                               Name=".sumocfg" Value="" Type="string" />

                <!-- Sumo.Document ProgId: registry entries for the sumocfg -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.sumocfg" Value="Sumo.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sumo.Document" Value="SUMO Configuration File" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sumo.Document\DefaultIcon"
                               Value="[INSTALL_ROOT]bin\sumo-gui.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sumo.Document\shell\open\command"
                               Value="&quot;[INSTALL_ROOT]bin\sumo-gui.exe&quot; -c &quot;%1&quot;" Type="string" />
            </Component>

            <Component Id="NeteditFileAssociation" Guid="32AD5722-97BE-492E-BE4E-F2D165188A0F">
                <CreateFolder/>

                <!-- "Set Program Access and Defaults" / default-program registration -->
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities"
                            Name="ApplicationDescription" Value="SUMO Network Editor" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities"
                            Name="ApplicationIcon" Value="[INSTALL_ROOT]bin\netedit.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities"
                            Name="ApplicationName" Value="SUMO Netedit" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\DefaultIcon"
                            Value="[INSTALL_ROOT]bin\netedit.exe,1" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\FileAssociations"
                            Name=".netecfg" Value="SumoNetedit.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\MIMEAssociations"
                            Name="application/sumo-netedit" Value="SumoNetedit.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\shell\Open\command"
                            Value="&quot;[INSTALL_ROOT]bin\netedit.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\RegisteredApplications"
                            Name="SumoNetedit" Value="Software\[Manufacturer]\[ProductName]Netedit\Capabilities" Type="string" />

                <!-- App Paths so Start->Run "netedit" works -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\netedit.exe"
                            Value="[INSTALL_ROOT]bin\netedit.exe" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\netedit.exe"
                            Name="Path" Value="[INSTALL_ROOT]bin" Type="string" />

                <!-- "Open with" list / Win7 jump menu pinning -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\netedit.exe"
                            Name="FriendlyAppName" Value="SUMO Netedit" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\netedit.exe\shell\open\command"
                            Value="&quot;[INSTALL_ROOT]bin\netedit.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\netedit.exe\SupportedTypes"
                            Name=".netecfg" Value="" Type="string" />

                <!-- SumoNetedit.Document ProgId: registry entries for the netecfg -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.netecfg" Value="SumoNetedit.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SumoNetedit.Document" Value="Sumo Netedit Configuration File" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SumoNetedit.Document\DefaultIcon"
                            Value="[INSTALL_ROOT]bin\netedit.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SumoNetedit.Document\shell\open\command"
                            Value="&quot;[INSTALL_ROOT]bin\netedit.exe&quot; -c &quot;%1&quot;" Type="string" />
            </Component>
        </ComponentGroup>

        <!-- <Icon Id="webwizIcon" SourceFile="webWizard.ico" /> -->
        <ComponentGroup Id="SumoShortcuts" Directory="PROGRAM_MENU_FOLDER">
            <Component Id="StartCommandLineShortcut" Guid="0F045CF0-2B14-11E1-9943-028037EC0200">
                <Shortcut Id="startmenuBat" Name="SUMO (Command Line Environment)" Target="[INSTALL_ROOT]bin\start-command-line.bat" />
                <RemoveFolder Id="RemoveStartCommandLineShortcut" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Shortcuts"
                            Name="StartCommandLine" Value="1" Type="integer" KeyPath="yes" />
            </Component>

            <Component Id="OSMWebWizardShortcut" Guid="020B4F21-0E79-41C8-A745-28CA9B426126">
                <Shortcut Id="startWebWizPy" Name="SUMO OSM Web Wizard" Target="[INSTALL_ROOT]tools\osmWebWizard.py" />
                <!-- <Shortcut Id="startWebWizPy" Name="SUMO OSM Web Wizard" Target="[INSTALL_ROOT]tools\osmWebWizard.py" Icon="webwizIcon" IconIndex="0" /> -->
                <RemoveFolder Id="RemoveOSMWebWizardShortcut" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Shortcuts"
                            Name="OSMWebWizard" Value="1" Type="integer" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
