<?xml version="1.0" encoding="utf-8"?>
<!--
    Extra WiX source merged into the CPack-generated installer.

    It provides things that CPack/WIX cannot express on its own:
      * SUMO_HOME, PATH and PYTHONPATH system environment variables
      * the `Sumo.Document` ProgId with the .sumocfg file association
        and "Set Program Access and Defaults" capability keys

    All elements are pulled into the package via the
    `SumoExtras` ComponentGroup which is added to the root feature
    by `cpack_patch.xml`.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="SumoExtras" Directory="INSTALL_ROOT">

            <Component Id="SumoHomeEnvironment" Guid="67D3110C-F900-461F-B836-177A7AE88BB9">
                <CreateFolder/>
                <Environment Id="SUMO_HOME"   Name="SUMO_HOME"  Value="[INSTALL_ROOT]"
                             Permanent="no" Part="all"  Action="set" System="yes" />
            </Component>

            <Component Id="SumoPathEnvironment" Guid="17359CBF-8C61-4C3D-B5A7-4407AFF096AA">
                <CreateFolder/>
                <Environment Id="PATH"        Name="PATH"       Value="[INSTALL_ROOT]bin;[INSTALL_ROOT]tools"
                             Permanent="no" Part="last" Action="set" System="yes" />
            </Component>

            <Component Id="SumoPythonPathEnvironment" Guid="3C6E4C8E-C4D3-483D-93C0-546A04D360F0">
                <CreateFolder/>
                <Environment Id="PYTHONPATH"  Name="PYTHONPATH" Value="[INSTALL_ROOT]tools"
                             Permanent="no" Part="last" Action="set" System="yes" />
            </Component>

            <Component Id="SumoFileAssociation" Guid="BD1FC8EE-2B15-11E1-BA48-028037EC0200">
                <CreateFolder/>

                <!-- "Set Program Access and Defaults" / default-program registration -->
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities"
                               Name="ApplicationDescription" Value="Simulation of Urban Mobility" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities"
                               Name="ApplicationIcon" Value="[INSTALL_ROOT]bin\sumo-gui.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities"
                               Name="ApplicationName" Value="SUMO" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\DefaultIcon"
                               Value="[INSTALL_ROOT]bin\sumo-gui.exe,1" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\FileAssociations"
                               Name=".sumocfg" Value="Sumo.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\MIMEAssociations"
                               Name="application/sumo" Value="Sumo.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\Capabilities\shell\Open\command"
                               Value="&quot;[INSTALL_ROOT]bin\sumo-gui.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\RegisteredApplications"
                               Name="Sumo" Value="Software\[Manufacturer]\[ProductName]\Capabilities" Type="string" />

                <!-- App Paths so Start->Run "sumo-gui" works -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\sumo-gui.exe"
                               Value="[INSTALL_ROOT]bin\sumo-gui.exe" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\sumo-gui.exe"
                               Name="Path" Value="[INSTALL_ROOT]bin" Type="string" />

                <!-- "Open with" list / Win7 jump menu pinning -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\sumo-gui.exe"
                               Name="FriendlyAppName" Value="SUMO GUI" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\sumo-gui.exe\shell\open\command"
                               Value="&quot;[INSTALL_ROOT]bin\sumo-gui.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\sumo-gui.exe\SupportedTypes"
                               Name=".sumocfg" Value="" Type="string" />

                <!-- Sumo.Document ProgId: registry entries for the sumocfg -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.sumocfg" Value="Sumo.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sumo.Document" Value="SUMO Configuration File" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sumo.Document\DefaultIcon"
                               Value="[INSTALL_ROOT]bin\sumo-gui.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sumo.Document\shell\open\command"
                               Value="&quot;[INSTALL_ROOT]bin\sumo-gui.exe&quot; -c &quot;%1&quot;" Type="string" />
            </Component>

            <Component Id="NeteditFileAssociation" Guid="32AD5722-97BE-492E-BE4E-F2D165188A0F">
                <CreateFolder/>

                <!-- "Set Program Access and Defaults" / default-program registration -->
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities"
                            Name="ApplicationDescription" Value="SUMO Network Editor" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities"
                            Name="ApplicationIcon" Value="[INSTALL_ROOT]bin\netedit.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities"
                            Name="ApplicationName" Value="SUMO Netedit" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\DefaultIcon"
                            Value="[INSTALL_ROOT]bin\netedit.exe,1" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\FileAssociations"
                            Name=".netecfg" Value="SumoNetedit.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\MIMEAssociations"
                            Name="application/sumo-netedit" Value="SumoNetedit.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]Netedit\Capabilities\shell\Open\command"
                            Value="&quot;[INSTALL_ROOT]bin\netedit.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="Software\[Manufacturer]\[ProductName]\RegisteredApplications"
                            Name="SumoNetedit" Value="Software\[Manufacturer]\[ProductName]Netedit\Capabilities" Type="string" />

                <!-- App Paths so Start->Run "netedit" works -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\netedit.exe"
                            Value="[INSTALL_ROOT]bin\netedit.exe" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\netedit.exe"
                            Name="Path" Value="[INSTALL_ROOT]bin" Type="string" />

                <!-- "Open with" list / Win7 jump menu pinning -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\netedit.exe"
                            Name="FriendlyAppName" Value="SUMO Netedit" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\netedit.exe\shell\open\command"
                            Value="&quot;[INSTALL_ROOT]bin\netedit.exe&quot; -c &quot;%1&quot;" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\netedit.exe\SupportedTypes"
                            Name=".netecfg" Value="" Type="string" />

                <!-- SumoNetedit.Document ProgId: registry entries for the netecfg -->
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\.netecfg" Value="SumoNetedit.Document" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SumoNetedit.Document" Value="Sumo Netedit Configuration File" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SumoNetedit.Document\DefaultIcon"
                            Value="[INSTALL_ROOT]bin\netedit.exe,0" Type="string" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\SumoNetedit.Document\shell\open\command"
                            Value="&quot;[INSTALL_ROOT]bin\netedit.exe&quot; -c &quot;%1&quot;" Type="string" />
            </Component>
        </ComponentGroup>

        <!-- <Icon Id="webwizIcon" SourceFile="webWizard.ico" /> -->
        <ComponentGroup Id="SumoShortcuts" Directory="PROGRAM_MENU_FOLDER">
            <Component Id="StartCommandLineShortcut" Guid="0F045CF0-2B14-11E1-9943-028037EC0200">
                <Shortcut Id="startmenuBat" Name="SUMO (Command Line Environment)" Target="[INSTALL_ROOT]bin\start-command-line.bat" />
                <RemoveFolder Id="RemoveStartCommandLineShortcut" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Shortcuts"
                            Name="StartCommandLine" Value="1" Type="integer" KeyPath="yes" />
            </Component>

            <Component Id="OSMWebWizardShortcut" Guid="020B4F21-0E79-41C8-A745-28CA9B426126">
                <Shortcut Id="startWebWizPy" Name="SUMO OSM Web Wizard" Target="[INSTALL_ROOT]tools\osmWebWizard.py" />
                <!-- <Shortcut Id="startWebWizPy" Name="SUMO OSM Web Wizard" Target="[INSTALL_ROOT]tools\osmWebWizard.py" Icon="webwizIcon" IconIndex="0" /> -->
                <RemoveFolder Id="RemoveOSMWebWizardShortcut" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Shortcuts"
                            Name="OSMWebWizard" Value="1" Type="integer" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
