[Desktop Entry]
Version=1.0
Type=Application
Exec=osmWebWizard.py
Icon=org.eclipse.sumo.osmWebWizard
Terminal=false
Name=OpenStreetMap Wizard for SUMO
GenericName=OpenStreetMap Wizard for SUMO
Comment=Webbrowser based Scenario Generation for the Traffic Simulation SUMO
Comment[de_DE]=Webbrowser unterstützte Scenariogenerierung für die Verkehrssimulation SUMO
Categories=Education;Science;Construction;Geography;Engineering;
MimeType=application/sumo-configuration;
Keywords=multi-modal;traffic;simulation;transport;mapping;routing
