name: cibuildwheel

on:
  push:
    paths:
      - '.github/workflows/cibuildwheel.yml'
      - 'build_config/pyproject/*.toml'
  # push:            # run on push events
  #   paths-ignore:  # but ignore everything in the docs subfolder
  #     - 'docs/**'
  #     - 'src/gui*/**'
  #     - 'src/netedit/**'
  #     - 'tests/netedit/**'
  #   branches:
  #     - '**'
  #   tags:
  #     - '*'
  # pull_request:    # run on pull requests
  #   paths-ignore:  # but ignore everything in the docs subfolder
  #     - 'docs/**'
  workflow_dispatch:
  schedule:
    - cron:  '25 1 * * *'

jobs:
  build-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, ubuntu-latest, ubuntu-24.04-arm, windows-latest]
        manylinux: [manylinux2014]
        include:
        - os: ubuntu-latest
          manylinux: manylinux_2_28
        - os: ubuntu-24.04-arm
          manylinux: manylinux_2_28
    env:
      SUMO_LIBRARIES: D:\a\sumo\sumo\SUMOLibraries

    steps:
      - name: Cloning SUMO
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          filter: tree:0
          # to work around actions/checkout#1467
          ref: ${{ github.ref }}

      - name: Cloning SUMO Libraries
        if: matrix.os == 'windows-latest'
        uses: actions/checkout@v6
        with:
          repository: DLR-TS/SUMOLibraries
          path: SUMOLibraries

      - name: "Set up MSVC Developer Command Prompt"
        if: matrix.os == 'windows-latest'
        uses: compnerd/gha-setup-vsdevenv@v6

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-${{ matrix.manylinux }}
          variant: ${{ matrix.os == 'windows-latest' && 'sccache' || 'ccache' }}

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Building sumolib and traci wheels
        if: matrix.os == 'macos-14'
        run: |
          python -m pip install build
          python tools/build_config/version.py --pep440 build_config/pyproject/sumolib.toml pyproject.toml
          python -m build --wheel -o wheelhouse/
          python tools/build_config/version.py --pep440 build_config/pyproject/traci.toml pyproject.toml
          python -m build --wheel -o wheelhouse/

      - name: Preparing wheel eclipse-sumo
        run: python tools/build_config/version.py --pep440 build_config/pyproject/eclipse-sumo.toml pyproject.toml

      - name: Building wheel eclipse-sumo
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ENVIRONMENT_LINUX: "CCACHE_DIR=/host/home/runner/work/sumo/sumo/.ccache"
          CIBW_ENVIRONMENT_WINDOWS: "CMAKE_GENERATOR=Ninja"
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux }}
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.manylinux }}
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.9"
          MACOSX_DEPLOYMENT_TARGET: '14.0'

      - name: Preparing wheel sumo-data
        run: python tools/build_config/version.py --pep440 build_config/pyproject/sumo-data.toml pyproject.toml

      - name: Building wheel sumo-data
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux }}
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.manylinux }}
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.9"
          CIBW_REPAIR_WHEEL_COMMAND: ""  # disable repair, no relocatable binaries inside
          MACOSX_DEPLOYMENT_TARGET: '14.0'

      - name: Preparing wheel libsumo
        run: python tools/build_config/version.py --pep440 build_config/pyproject/libsumo.toml pyproject.toml

      - name: Building wheel libsumo
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_ENVIRONMENT_LINUX: "CCACHE_DIR=/host/home/runner/work/sumo/sumo/.ccache"
          CIBW_ENVIRONMENT_WINDOWS: "CMAKE_GENERATOR=Ninja"
          CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux }}
          CIBW_MANYLINUX_AARCH64_IMAGE: ${{ matrix.manylinux }}
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.9"
          # CIBW_REPAIR_WHEEL_COMMAND_MACOS: ""  # disable repair process to inspect the wheel
          # CIBW_BUILD_VERBOSITY: 2
          MACOSX_DEPLOYMENT_TARGET: '14.0'

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ startsWith(matrix.os, 'ubuntu') && matrix.manylinux || 'default' }}
          path: ./wheelhouse/*.whl

  ###################
  # testing wheels
  ###################
  test-wheels:
    needs: [build-wheels]
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-15, ubuntu-latest, ubuntu-24.04-arm, windows-latest]
        manylinux: [default, manylinux2014, manylinux_2_28]
        python_version: [3.9, '3.10', 3.11, 3.12, 3.13, 3.14]
        exclude:
        - os: macos-14
          manylinux: manylinux2014
        - os: macos-14
          manylinux: manylinux_2_28
        - os: macos-15
          manylinux: manylinux2014
        - os: macos-15
          manylinux: manylinux_2_28
        - os: ubuntu-latest
          manylinux: default
        - os: ubuntu-24.04-arm
          manylinux: default
        - os: windows-latest
          manylinux: manylinux2014
        - os: windows-latest
          manylinux: manylinux_2_28
    runs-on: ${{ matrix.os }}

    steps:
    - name: Cloning SUMO
      # we just need the tests, so we are fine with a shallow checkout
      # maybe this even ensures we have the same commit as with the initial checkout
      uses: actions/checkout@v6

    - name: Downloading wheels artifact
      uses: actions/download-artifact@v7
      with:
        path: python-wheels
        merge-multiple: true

    - name: Configuring Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python_version }}

    - name: Preparing Python environment
      shell: bash
      run: |
        python -m venv testenv --system-site-packages
        source testenv/*/activate
        python -m pip install --upgrade pip
        python -m pip install wheel  # need to do this separately because the texttest install wants it
        python -m pip install texttest

    - name: Installing proj.db (linux)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      shell: bash
      run: |
        source testenv/*/activate
        python -m pip install pyproj
        python -c "import pyproj; print('PROJ_LIB=' + pyproj.datadir.get_data_dir())" >> $GITHUB_ENV

    - name: Installing proj.db (macos)
      if: ${{ startsWith(matrix.os, 'macos') }}
      # the pyproj hack does not seem to work on mac
      run: brew update && brew install proj

    - name: Installing dependencies (windows)
      if: matrix.os == 'windows-latest'
      # texttest has a hard time finding dependencies
      run: |
        python -m pip install --no-index -f python-wheels eclipse_sumo
        python -m pip install -r tools/req_ci.txt -r tools/requirements.txt

    - name: Installing sumo wheels (macos / windows)
      if: ${{ !startsWith(matrix.os, 'ubuntu') }}
      shell: bash
      run: |
        source testenv/*/activate
        python -m pip install --no-index -f python-wheels eclipse_sumo
        python -c "import sumo; print('SUMO_HOME=' + sumo.SUMO_HOME)" >> $GITHUB_ENV

    - name: Installing sumo wheels (linux)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      shell: bash
      run: |
        ls python-wheels
        WHEEL=$(ls python-wheels/eclipse_sumo*${{ matrix.manylinux }}*$(uname -m).whl)
        echo wheel=$WHEEL
        source testenv/*/activate
        python -m pip install $WHEEL
        python -c "import sumo; print('SUMO_HOME=' + sumo.SUMO_HOME)" >> $GITHUB_ENV

    - name: Running tests with sumo wheel
      # we do not test all applications at once to fail earlier and to have a better readable report
      # also windows seems to have problems with loading many tests at once
      shell: bash
      run: |
        source testenv/*/activate
        OS=$(echo "${{ matrix.os }}" | cut -f1 -d-)
        if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then OS=linux; fi
        if [[ "${{ matrix.os }}" == "ubuntu-24.04-arm" ]]; then OS=linux_arm; fi
        TEXTTEST_CALL="tests/runTests.sh -b ci -v ci.fast -finverse $PWD/tests/filter_files/${OS}_failures.txt"
        $TEXTTEST_CALL -a activitygen,duarouter,jtrrouter,marouter,od2trips,polyconvert
        $TEXTTEST_CALL -a netconvert,netgen
        python -m pip install -r tools/req_ci.txt -r tools/requirements.txt
        $TEXTTEST_CALL -a sumo
        $TEXTTEST_CALL -a complex,tools,traci

    - name: Cleaning up test environment
      shell: bash
      run: |
        rm -rf testenv
        echo 'SUMO_HOME=' >> $GITHUB_ENV

    - name: Preparing Python environment for libsumo
      shell: bash
      run: |
        python -m venv libsumo_testenv --system-site-packages
        source libsumo_testenv/*/activate
        python -m pip install --upgrade pip
        python -m pip install wheel  # need to do this separately because the texttest install wants it
        python -m pip install texttest

    - name: Installing proj.db (linux)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      shell: bash
      run: |
        source libsumo_testenv/*/activate
        python -m pip install pyproj
        python -c "import pyproj; print('PROJ_LIB=' + pyproj.datadir.get_data_dir())" >> $GITHUB_ENV

    - name: Installing libsumo wheels (macos / windows)
      if: ${{ !startsWith(matrix.os, 'ubuntu') }}
      shell: bash
      run: |
        if [[ "${{ matrix.os }}" != "windows-latest" ]]; then source libsumo_testenv/*/activate; fi
        python -m pip install --no-index -f python-wheels libsumo

    - name: Installing libsumo wheels (linux)
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      shell: bash
      run: |
        source libsumo_testenv/*/activate
        python -m pip install --no-index -f python-wheels traci sumo-data
        PYTAG="${{ matrix.python_version }}"
        WHEEL=$(ls python-wheels/libsumo*cp${PYTAG/.}-cp${PYTAG/.}-*${{ matrix.manylinux }}*$(uname -m).whl)
        echo wheel=$WHEEL
        python -m pip install $WHEEL

    - name: Running libsumo tests
      shell: bash
      run: |
        source libsumo_testenv/*/activate
        tests/runTests.sh -b ci -v ci -a complex.libsumo

    - name: Compressing test results
      if: failure()
      shell: bash
      run: |
        if [[ "${{ matrix.os }}" == "windows-latest" ]]; then choco install zip -y; fi
        zip -r texttesttmp.zip ~/.texttest/tmp

    - name: Uploading test results
      if: failure()
      uses: actions/upload-artifact@v6
      with:
        name: texttesttmp-${{ matrix.os }}-${{ matrix.manylinux }}-${{ matrix.python_version }}
        path: texttesttmp.zip
        if-no-files-found: warn
