name: documentation

on:
  push:            # run on push events in the docs subfolder
    paths:
      - 'docs/**'
  workflow_dispatch:
  schedule:
  - cron: '30 1 * * *' # daily at 01:30 UTC

jobs:
  ############################
  # building the documentation
  ############################
  build-and-internal-link-check:
    runs-on: ubuntu-latest

    steps:
    - name: Cloning repository
      uses: actions/checkout@v4

    - name: Installing plantuml
      run: |
        sudo apt-get update
        sudo apt-get install plantuml

    - name: Configuring Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Installing pip packages
      run: |
        cd docs/web/
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Building documentation
      run: |
        cd docs/web/
        mkdocs build --strict


  ############################
  # checking external links
  ############################
  external-link-check:
    runs-on: ubuntu-latest

    steps:
    - name: Use lychee cache
      uses: actions/cache@v4
      with:
        path: .lycheecache
        key: cache-lychee-${{ github.sha }}
        restore-keys: cache-lychee-
        save-always: true

    - name: Cloning repository
      uses: actions/checkout@v4

    - name: Lychee Link Checker
      uses: lycheeverse/lychee-action@v1
      with:
        fail: true
        args: -c docs/web/lychee.toml -n docs/web/docs/ --cache --max-cache-age 2d
